html{
  font-size: 10px;
}
body{
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","Apple Color Emoji","Segoe UI Symbol",Arial,sans-serif;
    font-size: 1.25rem !important;
    line-height: 1.6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.dm-container, .dm-leftnav{
    height: 100%;
    overflow-y: auto;
}

.dm-leftnav{
    position: relative;
    float: left;
    width: 20rem;
    font-size: 1.6rem;
    background-color: #F0F0F0;
}
.dm-leftnav:after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    border-right: 1px solid #CCC;
}

.dm-leftnav-user{
    background-color: #555;
    padding-bottom: 2rem;
    z-index: 2;
}
.dm-leftnav-user>div{
    margin-top: 1rem;
}

.mn-list-parent, .mn-list-child{
    margin: 0;
}
.mn-list-parent>li>a{
    padding-left: 1rem;
}
.mn-list-child>li>a{
    padding-left: 2rem;
}
[data-am-collapse].am-collapsed>.am-icon-angle-down{
    transform: rotate(-90deg);
}
[data-am-collapse]>.am-icon-angle-down{
    transition: transform .2s ease-in-out
}

.td1-title>a{
    color: #444;
    font-size: 1.4rem
}
.td1-title>a:hover{
    text-decoration: underline
}
.hover-danger:hover{
    color: #E33 !important;
}