
*{
    margin: auto;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","Apple Color Emoji","Segoe UI Symbol",Arial,sans-serif;
}
/*FORM TABLE**/
.vj-form button{
    background-color: transparent;
    border: 1px solid #AAA;
    font-size: 14px;
    padding: 4px 8px;
}
.vj-form{
    width: 95%;
    min-width: 400px;
    margin: 0 auto;
}
.vj-form td{
    border: 0;
    border-top: 1px solid #CCC;
    padding: 12px;
}
.vj-form input, .vj-form textarea{
    border: 1px solid #AAA;
    width: 300px;
}
.vj-form input:focus, .vj-form textarea:focus, .vj-form button:focus{
    border-color: #2A2;
    outline: 0;
}
.vj-form td.vj-name{
    width: 25%;
    text-align: right;
    vertical-align: baseline !important ;
}
td.vj-name>span{
    font-size: 15px;
    color: #333;
    line-height: 26px;
}
td.vj-name>span:after{
    content: "：";
}

/*CTRL Regular**/
.vj-ctrl{
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    font-size: 0;
}
.vj-ctrl-input input, .vj-ctrl-input textarea{
    display: block;
    background-color: transparent;
    line-height: 16px;
    font-size: 13px;
    color: #222;
    padding: 4px 6px;
}
.vj-ctrl .vj-title{
    margin-right: 6px;
    white-space: nowrap;
    line-height: 26px;
    font-size: 14px;
    color: #444;
    display: inline-block;
    width: 70px;
}
.vj-ctrl .vj-desc{
    margin-left: 80px;
}
.vj-ctrl .vj-desc>*{
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #666;
}
.vj-ctrl .vj-desc>.vj-err{
    color: #D44 !important;
}
.vj-item{
    display: inherit;
    position: relative;
    margin-right: 12px;
}
.vj-item>span{
    z-index: -1;
}
.vj-item>.vj-placeholder{
    position: absolute;
    color: #999;
    font-size: 14px;
    line-height: 26px;
    margin-left: 8px;
}
.vj-item>.vj-counter{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999;
    font-size: 13px;
    font-style: italic;
    font-family: Verdana;
    line-height: 26px;
    margin-right: 6px;
}
.vj-item>.vj-unit{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #444;
    font-size: 14px;
    line-height: 26px;
    margin-right: 6px;
}
.vj-item>.vj-viewer{
    z-index: 0;
    display: inline-block;
    cursor: pointer;
    height: 20px;
}
.vj-item>.vj-text{
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    color: #444;
}
.vj-item.vj-err input, .vj-item.vj-err textarea{
    border-color: #D44 !important;
}
.vj-item.vj-err-len .vj-counter{
    color: #D44 !important;
}

/*SELECT*/
.vj-select{
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 100%;
    left: -1px;
    z-index: 10;
    border: 1px solid #CCC;

    max-height: 240px;
    overflow-y: scroll;
}
.vj-ctrl-select .vj-item{
    border: 1px solid #AAA;
    padding: 3px 6px;
    padding-right: 24px;
    line-height: 20px;
    background-color: #FFF;
    vertical-align: baseline;
}
.vj-ctrl-select .vj-item:hover{
    background-color: #F0F0F0;
}
.vj-ctrl-select .vj-item:after{
    content: "";
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    border-color: #AAA transparent transparent;
    border-width: 6px 4px 0 4px;    
    border-style: solid dashed dashed;
    margin-top: -3px;

    transition: transform .1s ease-in-out;
}
.vj-ctrl-select .vj-item.vj-active:after{
    transform: rotate(180deg)
}
.vj-select>*{
    cursor: pointer;
    font-size: 12px;
    color: #444;
    line-height: 24px;

}
.vj-select-matrix .vj-select{
    padding: 0 6px 6px 0;
    width: 145px;
}
.vj-select-matrix .vj-select>span{
    display: inline-block !important;
    width: 24px;
    height: 24px;
    text-align: center;
    height: 24px;
    margin: 6px 0 0 6px;
}
.vj-select-row .vj-select>span{
    display: block !important;
    white-space: nowrap;
    padding: 0 8px;

}
.vj-select-row .vj-select>span:hover{
    background-color: #E7E7E7;
    color: #2A2;
}

/*CHECK*/
.vj-ctrl-check .vj-item>*{
    display: block;
    cursor: pointer;
    color: #444;
    font-size: 14px;
    line-height: 26px;
    margin-right: 12px;
}
.vj-check-mutiple .vj-item>*:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 0;
    top: 0;
    margin-right: 6px;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    border: 2px solid #444;
}
.vj-check-mutiple .vj-item>.vj-checked:before{
    content: "√";
    color: #444;
    font-size: 12px;
    font-weight: bold;
    font-family: initial;
    line-height: 4px;
    text-align: right;
    text-shadow: 1px 1px 1px #FFF;
}

.vj-check-single .vj-item>*:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 0;
    top: 0;
    margin-right: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #444;
}
.vj-check-single .vj-item>.vj-checked:before{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAADFBMVEUAAAAuoTguoTguoThqAj5yAAAAA3RSTlMAEIBdDFWvAAAAGUlEQVQI12MAAkYHBu4HDPJfgAjIAHKBYgA0FwR/WlSYWgAAAABJRU5ErkJggg==")
}

/*COUPON*/
    /*Color*/
    .vj-select [data-value="Color010"]{background-color: #63B359}
    .vj-select [data-value="Color020"]{background-color: #2C9F67}
    .vj-select [data-value="Color030"]{background-color: #509FC9}
    .vj-select [data-value="Color040"]{background-color: #5885CF}
    .vj-select [data-value="Color050"]{background-color: #9062C0}
    .vj-select [data-value="Color060"]{background-color: #D09A45}
    .vj-select [data-value="Color070"]{background-color: #E4B138}
    .vj-select [data-value="Color080"]{background-color: #EE903C}
    .vj-select [data-value="Color081"]{background-color: #F08500}
    .vj-select [data-value="Color082"]{background-color: #A9D92D}
    .vj-select [data-value="Color090"]{background-color: #DD6549}
    .vj-select [data-value="Color100"]{background-color: #CC463D}
    .vj-select [data-value="Color101"]{background-color: #CF3E36}
    .vj-select [data-value="Color102"]{background-color: #5E6671}
    /*Color**/


/*COMFIRM*/
    .vj-cfm-box{
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 50%;
        left: 0;
    }
    .vj-cfm-box>div{
        position: relative;
        margin: -50px auto;
        width: 340px;
        background-color: #FFF;
        border: 1px solid #CCC;
        box-shadow: 0 0 8px rgba(170,170,170,.5) ;
        font-size: 0;
        text-align: right;
    }
    .vj-cfm-box h5{
        margin: 0;
        padding: 0 12px;
        font-size: 13px;
        line-height: 30px;
        color: #666;
        background-color: #EEE;
        text-align: left;
    }
    .vj-cfm-box p{
        margin: 12px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        text-align: left;
    }
    .vj-cfm-box button{
        display: inline-block;
        cursor: pointer;
        margin: 0 16px 10px 0;
        border-width: 1px;
        border-style: solid;
        font-size: 13px;
        padding: 4 12px;

        color: #333;
        border-color: #AAA;
        background-color: #FFF;
    }
    .vj-cfm-box button:hover{
        text-decoration: underline;
    }
    .vj-cfm-box [class*=vj-icon]{
        display: block;
        float: left;
        height: 100%;
        min-height: 32px;
        width: 32px;
        margin: 0 8px 8px 0;
        background-repeat: no-repeat;
    }
    /*.vj-icon-something{
    }*/

/*CONTEXT MENU*/
    .vj-context-menu{
        position: fixed;
        border: 1px solid #CCC;
        background-color: #FFF;
        font-size: 0;
        z-index: 1
    }
    .vj-context-menu:before,.vj-context-menu:after{
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: dashed dashed solid;
    }
    .vj-context-menu:after{
        border-color: transparent transparent #FFF;
        border-width: 0 5px 8px 5px;
        top: -8px;
        left: 10px;
    }
    .vj-context-menu:before{
        border-color: transparent transparent #CCC;
        border-width: 0 6px 10px 6px;
        top: -10px;
        left: 9px;
    }

    .vj-context-menu>div{
        display: block;
        cursor: pointer;
        font-size: 12px;
        color: #444;
        padding: 0 8px;
        line-height: 24px;
        z-index: 1
    }
    .vj-context-menu>div:hover{
        background-color: #F0F0F0;
        color: #2A2;
    }

/*TABLE TAG*/
    .vj-table{
        margin: 0 20px;
    }
    .vj-tag-container{
        position: relative;
        padding: 0 24px;
        font-size: 0;
        z-index: 1;
        margin-bottom: -1px;
    }
    .vj-tag-container .vj-tag-name{
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        font-size: 13px;
        line-height: 26px;
        color: #7F7F7F;
        background-color: #E0E0E0;
    }
    .vj-tag-container .vj-tag-name:hover{
        color: #2A2;
        cursor: pointer;
        text-decoration: underline; 
    }
    .vj-tag-container .vj-tag-name.vj-active{
        color: #666;
        border-width: 1px 1px 0 1px;
        background-color: #FFF;
        border-color: #CCC;
        border-style: solid;
    }
    .vj-tag-container .vj-tag-add:before{
        content: "+";
        display: inline-block;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 16px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        color: #7F7F7F;
        background-color: #E0E0E0;
        cursor: pointer;
        margin-left: 12px;
    }
    .vj-tag-container .vj-tag-add:hover:before{
        color: #2A2;
    }
    .vj-tab-container{
        border: 1px solid #CCC;
        padding: 24px;
        position: relative;
    }
    .vj-tab-container [data-vj-tab]{
        position: relative;
        top: 0
    }